.coin {
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    width: 400px;
    left: 50%; /* Центрируем элемент по горизонтали */
    transform: translateX(-50%);
    bottom: 100px;
    position: fixed;
    border-radius: 50%;
  }
  
  .coin-image {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    height: auto; /* Сохраняет пропорции изображения */
    pointer-events: none;
  }
  .coin:active {
    transform: translateX(-50%) scale(0.95); /* Применяется только если выбор сделан */
  }