.tasks-container {
  position: fixed;
  width: 500px; /* Ширина контейнера */
  max-width: 80vw; /* Максимальная ширина контейнера */
  height: 440px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: auto;
  background-color: transparent; /* Цвет фона */
  bottom: 110px;
  scrollbar-width: none;
}
  .tasks-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari и Edge */
  }
  
  .tasks-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы списка */
    margin: 0; /* Убираем отступы списка */
  }
  
  .tasks-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd; /* Светлая рамка */
    border-radius: 8px;
    background-color: #fff; /* Белый фон */
    transition: opacity 0.5s ease, background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); /* Легкая тень для каждого элемента */
  }
  
  /* Скрытые элементы */
  .tasks-item.hidden {
    pointer-events: none;
    opacity: 0;
  }
  
  /* Стиль для заполнителя */
  .tasks-item.filler {
    opacity: 0;
    pointer-events: none;
  }
  
  /* Стиль для названия задачи */
  .tasks-name {
    font-weight: 600;
    font-size: 16px;
    color: #333;
    margin-right: 20px;
    flex-grow: 1; /* Заставляем название задачи занимать всю доступную ширину */
  }
  
  /* Стиль для награды */
  .tasks-reward {
    font-size: 14px;
    color: #888; /* Серый цвет для награды */
    margin-right: 10px;
  }
  
  /* Стиль кнопки */
  .tasks-collect-button {
    padding: 8px 16px;
    background-color: #28a745; /* Зеленый цвет кнопки */
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  .tasks-collect-button.loading {
    background-color: #ccc; /* Цвет кнопки при загрузке */
    cursor: not-allowed;
  }
  
  /* Спиннер */
  .spinner {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 3px solid white;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  /* Анимация спиннера */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  
  /* Эффект нажатия */
  .tasks-collect-button:active {
    background-color: #1e7e34;
    transform: translateY(1px); /* Небольшой сдвиг вниз при нажатии */
  }
  
  @media (min-width: 440px) {
    .tasks-container {
        height: 490px;
    }
  }