.wallet {
  background-color: #0C0C0C;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  bottom: 150px;
  left: 50%; 
  transform: translateX(-50%);
  width: 80vw; 
  max-width: 500px; 
  padding: 10px 15px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: left; 
  z-index: 1; 
  height: 400px;
}

@media (min-width: 440px) {
  .wallet {
    bottom: 200px;
  }
}

.wallet-image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Центрируем изображение */
  pointer-events: none; 
  position: relative; /* Изменяем на relative, чтобы избежать перекрытия кнопки */
}

.wallet-button {
  position: relative; /* Изменяем на relative для нормального позиционирования */
  bottom: 0; /* Убираем фиксированную позицию */
  margin: 20px auto 0; /* Центрируем кнопку и добавляем отступы */
  padding: 20px 30px;
  white-space: nowrap; 
  width: 60%;
  font-size: 1rem;
  color: #fff;
  background-color: #90a5bc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wallet-button:active {
  background-color: #7d8fa4; /* Добавляем изменение цвета при наведении */
}

.wallet-address {
  font-size: 18px;
  font-weight: bold;
  color: #fff; /* Изменяем цвет текста, чтобы было видно на темном фоне */
  text-align: center;
  margin-top: 20px;
}
