.timer {
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    top: 0px;
    right: 0px;
    width: 70px;
    padding: 10px 15px;
    border-radius: 15px;
    z-index: 1; /* Устанавливаем z-index выше, чтобы элемент был видимым поверх других */
    height: 60%;
  }

  .timer p {
    font-size: 1rem;
    color: black;
    font-weight: bold; /* Обычный шрифт для текста */
  }

  
  .timer .spinner {
    border: 4px solid #898989; /* Light grey */
    border-top: 4px solid #989898; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-right: 15px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
