.personal {
    display: flex; /* Используем Flexbox для горизонтального расположения элементов */
    align-items: center; /* Центрируем элементы по вертикали */
    padding: 15px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    width: 500px;
    position: fixed; /* Закрепляем элемент */
    bottom: 580px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (min-width: 440px) {
    .personal {
        bottom: 630px;
    }
  }
  
  .personal-image {
    width: 50px; /* Размер изображения */
    height: 50px;
    border-radius: 50%; /* Круглое изображение */
    margin-right: 15px; /* Отступ справа от изображения */
    pointer-events: none;
  }
  
  .personal-info {
    display: flex;
    flex-direction: column; /* Располагаем имя и username в колонку */
  }
  
  .personal-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #b3b3b3;
  }
  
  .personal-username {
    font-size: 1rem;
    color: #777;
  }
  

  .personal .spinner {
    border: 4px solid #898989; /* Light grey */
    border-top: 4px solid #989898; /* Blue */
    border-radius: 50%;
    width: 42px;
    height: 42px;
    animation: spin 2s linear infinite;
    margin-right: 15px;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .personal .loading-text {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }
  
  